<div class="select is-primary">
  <select
    name="limits"
    id="limits"
    (change)="definirLimite($event)"
    class="mx-2"
  >
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
  </select>
</div>

<div class="mx-3">
  <h1 class="has-text-black">Lista de Pokemons</h1>
  <ul id="lista-pokemons" *ngIf="pokemons.length">
    <li *ngFor="let pokemon of pokemons" (click)="acessarPokemon(pokemon)">
      {{ pokemon.name }}
    </li>
  </ul>
</div>

<div>
  <button
    [disabled]="!previous"
    id="btn-anterior"
    (click)="voltarPagina()"
    class="button is-light"
  >
    Anterior
  </button>
  <button
    [disabled]="!next"
    id="btn-proximo"
    (click)="passarPagina()"
    class="button is-dark"
  >
    Próximo
  </button>

  <p id="paginas">
    {{ paginaAtual + "/" + totalPaginas }}
  </p>
</div>

<section class="section has-background-primary" *ngIf="!!pokemonCLicado">
  <div id="pokemon-selecionado" class="my-2">
    <p id="nome-pokemon-selecionado" class="my-2">Nome: {{ pokemonCLicado }}</p>
    <img id="imagem-pokemon-selecionado" [src]="imagens" />
    <p id="atributos-pokemon-selecionado" class="my-2">
      Atributos: {{ estatisticas }}
    </p>
    <p id="caracteristicas-pokemon-selecionado" class="my-2">
      Características: {{ tipos }}
    </p>
    <p id="altura-peso-pokemon-selecionado" class="my-2">
      {{ alturaPeso }}
    </p>
    <button
      id="limpar-dados-pokemons"
      (click)="limparDados()"
      class="button is-dark"
    >
      Fechar
    </button>
  </div>
</section>
